* {
    padding: 0;
    margin: 0;
}

html {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("../img/download.jpeg");
    background-size: 100% auto;
    text-align: center;
}

@keyframes expand {
    from {
        transform: scale(0);
    }
}

element.style {
    width: 56vw;
    margin-top: 34vw;
    background: transparent;
}

.T {
    background-image: url("../img/backgroundBolaVazia.jpg");
    background-size: 100% auto;
    margin: 0.5vw;
    border: 0.5vw solid rgb(0, 0, 0);
    border-radius: 50%;
    box-shadow: 0px 11px 100px rgb(255 255 255 / 82%);
}

.V {
    margin: 0.5vw;
    border: 0.5vw solid rgb(0, 0, 0);
    background-image: url("../img/BolaVermelha.jpeg");
    background-size: 100% auto;
    border-radius: 100%;
    box-shadow: 0px 11px 100px rgb(255 255 255 / 82%);
    animation: expand .5s ease-in-out;
}

.A {
    margin: 0.5vw;
    border: 0.5vw solid rgb(0, 0, 0);
    background-image: url("../img/bolaAzul.jpeg");
    background-size: 100% auto;
    border-radius: 100%;
    box-shadow: 0px 11px 100px rgb(255 255 255 / 82%);
    animation: expand .5s ease-in-out;
}

#lab {
    /* fundo da tabela */
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/BackGroundTabuleiro.jpg");
    background-size: 173%;
    ;
    margin: 0px auto;
    border: 3px solid black;
    border-radius: 3%;
    box-shadow: 0px 0px 40px rgba(0, 217, 255, 0.5);
}

#tit {
    color: rgb(228, 228, 228);
    text-shadow: 3px 3px 5px rgba(0, 217, 255, 0.801);
    z-index: 1;
    position: relative;
}

#resultado_div {
    background-color: rgba(0, 0, 0, 0.24);
}

#vezde {
    font-family: monospace;
    background-color: #000;
    color: rgb(228, 228, 228);
    text-shadow: 3px 16px 44px rgb(255 255 255 / 21%);
    margin-bottom: 5px;
}

.jg1 {
    color: red;
}


/* TAMANHO bolinhas tabuleiro e textox e textos */

.T,
.A,
.V {
    width: 5vw;
    height: 5vw;
}

#lab {
    width: 49vw;
    height: 42vw;
}

#vezde {
    font-size: 1.3vw;
}

h1 {
    font-size: 1.7vw;
}

.anima1 {
    width: 9vw;
    height: 9vw;
    margin: 0.5vw;
    border: 0.5vw solid rgb(0, 0, 0);
    background-image: url("../img/bolaAzul.jpeg");
    background-size: 100% auto;
    border-radius: 100%;
    box-shadow: 0px 11px 100px rgb(255 255 255 / 82%);
    animation: expand .5s ease-in-out;
}


/* Media query para: Moto g4, Galaxy S5, Pixel 2,Pixel 2 xl,Ipad, Ipad Pro,Galaxy Fold */

@media only screen and (max-height: 280px) {
    .T,
    .A,
    .V {
        width: 3.6vw;
        height: 3.6vw;
    }
    #lab {
        width: 39.3vw;
        height: 33vw;
    }
    .bola_vermelha {
        width: 6vw;
        height: 6vw;
    }
    #tit {
        margin-block-start: 0.47em;
        margin-block-end: 0.47em;
        font-size: 2vw;
    }
    #vezde {
        font-size: 1.7vw;
    }
}

@media only screen and (max-height: 480px) {
    .T,
    .A,
    .V {
        width: 5.7vw;
        height: 5.7vw;
    }
    #lab {
        width: 54vw;
        height: 46vw;
    }
    .bola_vermelha {
        width: 6vw;
        height: 6vw;
    }
    #tit {
        margin-block-start: 0.47em;
        margin-block-end: 0.47em;
        font-size: 2vw;
    }
    #vezde {
        font-size: 1.7vw;
    }
}

@media only screen and (max-height: 823px) {
    .T,
    .A,
    .V {
        width: 5vw;
        height: 5vw;
    }
    #lab {
        width: 49vw;
        height: 42vw;
    }
    #tit {
        margin-block-start: 0.47em;
        margin-block-end: 0.47em;
        font-size: 2vw;
    }
    #vezde {
        font-size: 1.7vw;
    }
}

@media only screen and (width: 720px) {
    .T,
    .A,
    .V {
        width: 7vw;
        height: 7vw;
    }
    #lab {
        width: 63vw;
        height: 54vw;
    }
    #tit {
        font-size: 2vw;
    }
    #vezde {
        font-size: 1.5vw;
        padding-bottom: 5px;
    }
}


/* Media query para: Desktop*/

@media only screen and (min-width: 1285px) {
    .T,
    .A,
    .V {
        width: 4.5vw;
        height: 4.5vw;
    }
    #lab {
        width: 46vw;
    }
    .bola_vermelha {
        width: 4.5vw;
        height: 4.5vw;
    }
    #tit {
        margin-block-start: 0.47em;
        margin-block-end: 0.47em;
        font-size: 2rem;
    }
    #vezde {
        font-size: 1.5vw;
        padding-bottom: 20px;
    }
}

@media only screen and (width: 653px) {
    .T,
    .A,
    .V {
        width: 3.7vw;
        height: 3.7vw;
    }
    #lab {
        width: 40vw;
        height: 35vw;
    }
    #tit {
        margin-block-start: 0.47em;
        margin-block-end: 0.47em;
        font-size: 1.5vw;
    }
    #vezde {
        font-size: 1.5vw;
        padding-bottom: 5px;
    }
}

@media only screen and (min-height:568px) {
    .T,
    .A,
    .V {
        width: 9vw;
        height: 9vw;
    }
    #lab {
        width: 78vw;
        height: 72vw;
    }
    #tit {
        font-size: 5vw;
    }
    #vezde {
        font-size: 3.5vw;
        padding-bottom: 20px;
    }
}

@media only screen and (width:812px) {
    .T,
    .A,
    .V {
        width: 4.2vw;
        height: 4.2vw;
    }
    #lab {
        width: 43.5vw;
        height: 37vw;
    }
    #tit {
        font-size: 2vw;
    }
    #vezde {
        font-size: 1.5vw;
        padding-bottom: 5px;
    }
}

@media only screen and (width:1024px) {
    .T,
    .A,
    .V {
        width: 7vw;
        height: 7vw;
    }
    #lab {
        width: 63.2vw;
        height: 61vw;
    }
    #tit {
        font-size: 3vw;
    }
    #vezde {
        font-size: 2.5vw;
        padding-bottom: 10px;
    }
}

@media only screen and (width:1366px) {
    .T,
    .A,
    .V {
        width: 7vw;
        height: 7vw;
    }
    #lab {
        width: 63.2vw;
        height: 61vw;
    }
    #tit {
        font-size: 3vw;
    }
}

@media (min-width: 1025px) and (max-width: 3000px) {
    .T,
    .A,
    .V {
        width: 5.5vw;
        height: 5.5vw;
    }
    #lab {
        width: 53vw;
        height: 45vw;
    }
    #tit {
        font-size: 2vw;
    }
    #vezde {
        font-size: 1.7vw;
        padding-bottom: 5px;
    }
}